body{
    margin: 0;
    padding: 0;
    
}

.container-fluid{
    
    height: 400px;
   
}


.container-fluid::before{
    filter: blur(1.2);
    
}

.img-item-1{
    width: 300px;
    height: 300px;
    border-radius: 50px;
}

.img-item-1 img{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    object-fit: cover;
}

.img-item-2{
    width: 300px;
    height: 300px;
    border-radius: 50px;
}

.img-item-2 img{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    object-fit: cover;
}

.img-item-3{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    
}

.img-item-3 img{
   
    width: 300px;
    height: 300px;
    border-radius: 50px;
    object-fit: cover;
}
.nav{
    margin-top: 30px;
    margin-left: 30px;

    position: fixed;
}